{% extends 'base.html.twig' %}

{% block title %}
  Votre panier
{% endblock %}

{% block body %}
  <h1>
    Votre Panier
    {% if items | length == 0  %} est vide !{% endif %}
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>
          Produit
        </th>
        <th>
          Prix
        </th>
        <th>
          Quantité
        </th>
        <th>
          Total
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>
            {{ item.product.name }}
          </td>
          <td>
            {{ item.product.price }}
          </td>
          <td>
            <a href="{{
              path(
                'panier_add_id',
                {
                  id: item.product.id
                }
              )
              }}?returnToPanier=true"
              class="btn btn-sm btn-primay">
              <span class="fas fa-plus-square"></span>
            </a>
            {{ item.quantity }}
            <a href="{{
              path(
                'panier_decrement_id',
                {
                  id: item.product.id
                }
              )
              }}"
              class="btn btn-sm btn-primay">
              <span class="fas fa-minus-square"></i></span>
            </a>
          </td>
          <td>
            {{ item.sum }}
          </td>
          <td>
            <a href="{{
              path(
                'panier_delete_id',
                {
                  id: item.product.id
                }
              )
              }}"
              class="btn btn-sm btn-danger">
              <span class="fas fa-trash-alt"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          Total :
        </td>
        <td>
          {{ allSum }}
        </td>
      </tr>
    </tfoot>
  </table>
  {{form_start(formView, { 'action': path("commande_payer") })}}
  <fieldset>
    <legend>Adresse de livraison</legend>
    {{ form_widget(formView) }}
    {{ form_errors(formView) }}
    <button type="submit" class="btn btn-success">Confirmer</button>
  </fieldset>
  {{ form_end(formView) }}
  {% endblock %}
