{% extends 'base.html.twig' %}

{% block title %}
  Votre panier
{% endblock %}

{% block body %}
  <h1>
    Votre Panier
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>
          Produit
        </th>
        <th>
          Prix
        </th>
        <th>
          Quantité
        </th>
        <th>
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      {% for panierItem in panierItems %}
        <tr>
          <td>
            {{ panierItem.product.name }}
          </td>
          <td>
            {{ panierItem.product.price }}
          </td>
          <td>
            {{ panierItem.quantity }}
          </td>
          <td>
            {{ panierItem.sum }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          Total :
        </td>
        <td>
          {{ panierAllSum }}
        </td>
      </tr>
    </tfoot>
  </table>
{% endblock %}
