{% extends 'base.html.twig' %}

{% block title %}
  Authentification
{% endblock %}

{% block body %}
  <h1>
    Authentification
  </h1>
  {% if error %}
    <div class="alert alert-danger">
      {{
        error.message|replace({
          'Bad credentials.': 'Email ou mot de passe invalide !'
        })
      }}
    </div>
  {% endif %}
  {{ form_start(formView) }}
  {{ form_widget(formView) }}
  {{ form_errors(formView) }}
  <button type="submit" class="btn btn-success">Connexion</button>
  {{ form_end(formView) }}
{% endblock %}
