{% extends 'base.html.twig' %}

{% block title %}
  Produit : {{ product.name }}
{% endblock %}

{% block body %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
    <li class="breadcrumb-item">
      <a href="{{
        path(
          'category_read_slug',
          {
            slug: product.category.name
          }
        )
        }}">
        {{ product.category.name }}
      </a>
    </li>
    <li class="breadcrumb-item active">{{ product.name }}</li>
  </ol>
  <h1>
    Produit : {{ product.name }}
  </h1>
  <div class="row">
    {% include 'shared/_productCard.html.twig' with {
      col: 4
    } %}
  </div>
{% endblock %}
