{{ form_start(formView) }}
{{ form_widget(formView) }}
{{ form_errors(formView) }}
<button type="submit" class="btn bt-{{ buttonSubmitColor }}">
  <i class="fas fa-save"></i>
  {{ buttonSubmitValue }}
</button>
{{ form_end(formView) }}
