<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('index') }}">Ecommerce</a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {% for category in categoryRepository.findall() %}
          <li class="nav-item">
            <a class="nav-link"
              href="{{
              path(
                'category_read_slug',
                {
                  slug: category.slug
                }
              )
              }}">
              {{ category.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <ul class="navbar">
        <li class="nav-item">
          <a href="{{ path('panier_read') }}" class="nav-link">
            <span><i class="fas fa-shopping-basket fa-2x"></i>Panier</span>
          </a>
        </li>
        {% if app.user %}
          <li class="nav-item">
            <a href="{{ path('logout') }}" class="btn btn-danger">Logout</a>
          </li>
        {% else %}
          <li class="nav-item"><a href="#" class="nav-link">Inscription</a></li>
          <li class="nav-item">
            <a href="{{ path('login') }}" class="btn btn btn-success">login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
